<%- include("_headers") -%>

<div class="container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          Votre offre a bien été ajouté.
        </div>
      </div>
    <h1>Ajouter une fiche</h1>
    <form action="/insert-offer" method="POST">
        <div class="form-group">
        <label for="URL">URL de l'offre</label>
        <input type="url" class="form-control" id="offer_url" aria-describedby="emailHelp" placeholder="Entrez l'URL d'une offre">
        </div>
        <div class="form-group">
            <label for="company">Entreprise</label>
            <select class="form-control" id="company">
                <% for (var i = 0; i < companies.length; i++) { %>
                    <option value='<%= companies[i].item.value %>'><%= companies[i].itemLabel.value %></option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>